.cover__link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1184px;
    min-height: 740px;
    z-index: 0;
    text-decoration: none;
    min-height: 300px;
    width: 100%
}