.footer__link {
  margin-right: 18px;
}

.footer__link > a {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: var(--color-light);
  text-decoration: none;
  transition: 0.335s ease-in-out;
}

.footer__link:hover > a {
  opacity: 0.5;
}

.footer__link:last-child {
  margin-right: 0;
}
@media (max-width: 767px) {
  .footer__link {
    margin-right: 0;
    margin-bottom: 32px;
  }
  .footer__link:last-child {
    margin-right: 0;
    margin-bottom: 0;
  }
  .footer__link > a {
    font-size: 24px;
    line-height: 24px;
  }
}
