.place__link {
  font-family: MyInter, Helvetica, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-decoration-line: underline;
  color: var(--color-light);
  transition: 0.335s ease-in-out;
}

.place__link:hover {
  opacity: 0.5;
}
