.cover__overlay {
  margin: 0 auto;
  background-image: url("../../../images/cover-trains.jpg");
  background-size: cover;
  background-position: center;
  text-decoration: none;
  height: 740px;
  max-width: 1184px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 1279px) {
  .cover__overlay {
    height: 640px;
  }
}

@media screen and (max-width: 1023px) {
  .cover__overlay {
    height: 480px;
  }
}

@media screen and (max-width: 767px) {
  .cover__overlay {
    height: 58vw;
    min-height: 200px;
  }
}

.cover__overlay::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #2a2c2f;
  opacity: 0.3;
  transition: 0.3s ease-in-out;
}

.cover__overlay:hover::before {
  opacity: 0.8;
}
