.place__url-heading {
  font-family: MyInter, Helvetica, serif;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 2px;
  color: #aaaaaa;
  font-style: normal;
  font-weight: normal;
  margin: 12px 0;
}
