.place__description {
  margin: 0;
  font-family: MyInter, Helvetica, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 29.34px;
  color: var(--color-light);
}

@media screen and (max-width: 1023px) {
  .place__description {
    line-height: 26.08px;
    font-size: 16px;
  }
}

@media screen and (max-width: 767px) {
  .place__description {
    padding: 0 16px;
  }
}
